[
    "lang":"Python"
    "logo":"python"
    "color":"#3776AB"
    "link":"https://www.python.org/"
,
    "lang":"JavaScript"
    "logo":"javascript"
    "color":"#F7DF1E"
    "link":"https://www.javascript.com/"
,
    "lang":"CoffeeScript"
    "logo":"coffeescript"
    "color":"#2F2625"
    "link":"https://coffeescript.org/"
,
    "lang":"TypeScript"
    "logo":"typescript"
    "color":"#3178C6"
    "link":"https://www.typescriptlang.org/"
,
    "lang":"Ruby"
    "logo":"ruby"
    "color":"#CC342D"
    "link":"https://www.ruby-lang.org/en/"
,
    "lang":"C++"
    "logo":"cplusplus"
    "color":"#00599C"
    "link":"https://www.cplusplus.com/"
,
    "lang":"HTML5"
    "logo":"html5"
    "color":"#E34F26"
    "link":"https://html.spec.whatwg.org/"
,
    "lang":"CSS"
    "logo":"css3"
    "color":"#1572B6"
    "link":"https://www.w3.org/Style/CSS/"
,
    "lang":"Sass"
    "logo":"sass"
    "color":"#CC6699"
    "link":"https://sass-lang.com/"
]