[
    "lang":"HTML5"
    "logo":"html5"
    "color":"#E34F26"
    "link":"https://html.spec.whatwg.org/"
,
    "lang":"CSS"
    "logo":"css3"
    "color":"#1572B6"
    "link":"https://www.w3.org/Style/CSS/"
,
    "lang":"Sass/SCSS"
    "logo":"sass"
    "color":"#CC6699"
    "link":"https://sass-lang.com/"
,
    "lang":"Less"
    "logo":"less"
    "color":"#1D365D"
    "link":"https://lesscss.org/"
]